html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 5%;
  background: blue;
  color: white;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li {
  padding: 10px;
  display: inline-block;
}

main {
  border: 3px dashed;
  margin: 4rem 0 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 180px 500px 308px;
  grid-template-columns: 180px 500px 308px;
  grid-column-gap: 12px;
  grid-template-areas: "nav feed services";
  height: calc(100vh - 4rem);
}

@media (min-width: 1200px) {
  main {
    padding-right: 200px;
  }
}
.side-nav {
  border: 3px dashed;
  grid-area: nav;
}

.news-feed {
  border: 3px dashed;
  grid-area: feed;
}

.services {
  border: 3px dashed;
  grid-area: services;
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
}

.post__info a,
.post__info span {
  display: block;
}

.avatar {
  border-radius: 50%;
}

.post__content img {
  width: 100%;
}

.comment {
  background: #eee;
  border-top: solid 1px #ccc;
}
.comment input {
  width: 100%;
  margin-left: 10px;
  border-radius: 20px;
  border: solid 1px #ccc;
  padding: 10px 20px;
}
