:root {
  --box-color: #373142;
}

.container {
  --box-color: #000;
  display: -ms-grid;
  display: grid;
  background: var(--box-color);
  grid: 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
}
.container > div {
  --box-color: blue;
  background: var(--box-color);
  color: #fff;
  text-align: center;
  line-height: 100px;
}
.container > div:nth-child(1) {
  grid-column: 1 / -1;
}
.container > div:nth-child(2) {
  grid-area: 2 / 2 / 5 / 3;
}
.container > div:nth-child(3) {
  grid-area: 4 / 4 / 5 / -1;
}
