.container {
  border: dashed 2px red;
  display: flex;
  height: 100vh;
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.container > div {
  background: #373142;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.container > div:nth-child(2) {
  height: 150px;
}
