html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #222;
  color: #fff;
}

.main-nav > ul,
.social-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li,
.social-nav > ul > li {
  display: inline-block;
}

.grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-template: 52px 1fr 100px / auto;
}

header {
  grid-area: 1 / 1 / 2 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header nav {
  margin-right: 20px;
}

video {
  grid-area: 1 / 1 / -1 / -1;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

main {
  grid-area: 2 / 1 / 3 / -1;
  padding: 0 10% 200px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

footer {
  grid-area: 3 / 1 / 4 / -1;
  text-align: center;
}
