html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #111;
  color: #fff;
}

.col {
  background: #333;
  overflow-y: scroll;
}

.col-header {
  padding: 15px 10px 10px;
  background: #222;
  height: 100%;
}
.col-header h3 {
  margin: 0;
}

.controls {
  grid-row: 1 / -1;
  padding: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tweet {
  padding: 10px;
  border-bottom: solid 1px #444;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
  grid-template-columns: 60px auto;
}
.tweet img {
  border-radius: 50%;
  grid-row: 1 / -1;
}
.tweet > p,
.tweet > div {
  margin-top: 0;
  grid-column: 2 / -1;
}

.grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-column-gap: 7px;
  grid-auto-flow: column;
  grid-template: 52px auto / 50px;
  grid-auto-columns: 270px;
}
