html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #111;
  color: #fff;
}

.col {
  background: #333;
}

.controls {
  grid-row: 1 / -1;
}

.tweet {
  padding: 10px;
  border-bottom: solid 1px #444;
}
.tweet img {
  border-radius: 50%;
}

.grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-column-gap: 7px;
  grid-auto-flow: column;
  grid-template: 52px auto / 50px;
  grid-auto-columns: 270px;
}
