html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  background: white;
  color: #333;
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  top: 0;
}

.header-content {
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li {
  display: inline-block;
}

main {
  max-width: 930px;
  margin: 4rem auto;
  border: 3px dashed red;
}

.user {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto) [3];
  grid-template-rows: repeat(3, auto);
}

.avatar {
  border-radius: 50%;
  width: 152px;
  justify-self: center;
}

.user-info {
  border: 3px dashed blue;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.news-feed {
  border: 3px dashed blue;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
}
.news-feed img {
  width: 100%;
}

.feed-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.feed-nav a {
  display: block;
  padding: 10px;
}
