.container {
  display: grid;
  grid: 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
}
.container > div {
  background: #373142;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

.container > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
